html {
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    background: #2d3740;
}

body {
    padding: 2rem;
    background: #1c262f;
    color: rgb(230, 225, 225);
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    padding: 0 0 2rem 0;
    font-size: 2rem;
}

.logo {
    text-align: center;
}

form {
    text-align: center;
    margin-top: 1.8rem;
}

label {
    font-size: 1.8rem;
}

input[type="number"] {
    font-family: inherit;
    background: rgb(230, 225, 225);
    width: 80%;
    margin: 1rem 0;
    padding: 0.8rem 0;
    border: none;
    font-size: 1.2rem;
    text-align: center;
}

button {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.8rem;
    font-weight: bolder;
    width: 80px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: #0ad9ff;
    margin: 0.5rem 0 1rem 0;
    cursor: pointer;
}

ul {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

li {
    border: 1px solid;
    padding: 1rem 1.5rem;
    border-radius: 10px;
}

.entriesWrapper {
    padding: 1rem 0;
    font-size: 1.6rem;
}

.entriesWrapper h3 {
    margin: 0;
    text-align: center;
    font-weight: lighter;
}

.data {
    font-size: 1.4rem;
}

.data div {
    background: #141c22;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin: 0.5rem 0;
}

.progress {
    text-align: center;
    padding-bottom: 1rem;
}

.progress h3 {
    font-size: 1.6rem;
    font-weight: lighter;
}

.progressCircleWrapper {
    display: flex;
    justify-content: center;
}

#progressCircle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    /* background: conic-gradient(#75db70 50%, #2d3740 50%); */
    display: flex;
    justify-content: center;
    align-items: center;
}

#progressCenter {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: #1c262f;
}

@media screen and (min-width: 800px) {
    body {
        width: 60%;
    }

    input[type="number"] {
        width: 40%;
    }

    svg {
        max-width: 50%;
    }
}
